body{
    margin:0;
    padding:0;
    text-decoration: none;
    overflow: hidden;
    color:white;
}
.main{
    background-color: black;
    height:100vh;
    width:100%;
    padding:0.5rem;
    display:flex;
    
  
}
.sidebar{
    height:95%;
    width:350px;
    border:2px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding:0.5rem;
    /* position:fixed; */
    /* overflow: hidden; */
    
}
.nav{
    background-color: #121212;
    border-radius:1rem;
    padding:1rem;
    height:90vh;
    
}
.nav li{
    font-size: 50px;
    padding:0.5rem;
    margin-top:1rem;

}
.logo{
    background-color:#232323;
    height:50px;
    padding:0.5rem;
   
}
.logo i{
   font-size: 30px;
    margin-left: 1rem;
}
.logo a{
   font-size:40px;
   font-weight: 500;
   color:white; 
   text-decoration: none;
}
.logo2 a{
    font-size:40px;
    font-weight: 500;
    color:white;
    text-decoration: underline;
    opacity:0.7;
}
.sidebar .logo2 li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.15);
    transform: scale(1.1);
   
    
  
}
.sidebar .logo2 a:hover{
    opacity:1;
    color:wheat;
    text-decoration: none;
}

.main-content{
   height:100vh;
   width:75%;
   /* background-color: yellow; */
   border:2px solid rgba(255,255,255,0.25);
   border-radius: 1rem;
   flex:1;
   overflow:auto;
   display:flex;
   flex-wrap: wrap;
   
}

.main-content .home{
    display:flex;
    justify-content:center ;
    align-items: center;
    background-color: #232323;
    padding:1rem;
    height:500px;
    color:white;
   

    
}
.main-content .writing{
    flex-wrap: wrap;
    margin-left: 0.5rem;
    /* justify-content: center; */

}
.main-content .writing h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
 
}
.main-content .writing p{
    font-size: 25px;
    font-family: "Edu VIC WA NT Beginner", cursive;

}
#anime{
    animation:title 2s linear 1s infinite alternate;
}
@keyframes title{
    from{
            font-size: 35px;
        }
        to{
            font-size: 55px;
            color:brown;
            box-shadow: 2px 2px 4px rgba(255,255,0,);
        }
    }

.main-content  .image img{
    height:350px;
    width:270px;
    padding:1.5rem;
   /* box-shadow: 0 0 4px rgba(255,255,255,0.25); */
}
.main-content  .image img:hover{
    box-shadow:2px 2px 4px yellow;
    transform:scale(1.05);
}

.main-content .about{
    background-color:#232323;
    height:600px;
    padding:1rem;
}
.main-content .about  .heading{
    line-height: 0.35rem;
}

.main-content .about .heading h2{
    font-size: 40px;
    color:burlywood
}

 .new_div{
    width: 200px;
    height: 4px;
    border-bottom: 2px solid black;
    border-width: 0.25rem;
    
}
.main-content .about .info{
   margin-top: 4rem
}

.main-content .about .info h2{
    font-size: 35px;
    font-weight: 500;
    font-family: "Edu VIC WA NT Beginner", cursive;
}
.main-content .about .info p{
    font-size: 20px;
    font-family: cursive;
}
.main-content .about .personal-info {
    display:flex;
    margin:1rem;
    padding:0.5rem;
    font-size: 30px;
    color:white;
}
.main-content .about .personal-info .right{
   margin-left: 4rem;
}
.main-content .skills{
    height:500px;
    background-color:#232323;
    padding:1rem;
    
}
.main-content .skills .heading{
        line-height: 1rem;
        
}
.main-content .skills .heading h2{
    font-size:35px;
    color:burlywood;
}
.main-content .skills li{
    font-size: 30px;
    margin:1rem;
}
.div2{
    width:550px;
    height:5px;
    border:2px solid black;
}
 .div3{
    width:95%;
    height:5px;
    background-color: red;
   
    
}
.div4{
    width:80%;
    height:5px;
    background-color: red;
  
    
}
.div5{
    width:60%;
    height:5px;
    background-color: red;
   
    
}
.div6{
    width:70%;
    height:5px;
    background-color: red;
   
    
}
.div7{
    width:78%;
    height:5px;
    background-color: red;
    
    
}


.main-content .skills .tech_skills {
    font-size: 35px;
}


.main-content .projects{
    height:1200px;
    background-color: #232323;

   
}
.main-content .projects .heading{
    line-height: 26px;
    
    padding:1rem;
}
.main-content .projects .heading h2{
    font-size: 35px;
    color:burlywood;
   
}
.main-content .projects .items
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1rem;
    
}
.main-content .projects .items .pics img{
    height:300px;
    width:400px;
    border:4px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    /* padding:1rem; */
    margin:1rem;
    cursor:pointer;
   

}
.main-content .projects .items .pics img:hover{
    
    position:relative;
    top:1rem;
    box-shadow: 2px 2px 10px yellow;
}

.cont{
    height:620px;
    background-color:#232323;
}
 .cont .query{
    font-size:30px;
    margin-left: 200px;
    margin-top:2rem;
    line-height: 16px;
    align-content: center;
    
   
}
.cont .query h3,h4{
    color:aqua;
}
.cont .query h4{
    margin-left:3.5rem;
}
.cont .social_media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1rem;
    margin:1rem;
   
}
.cont .social_media .media{
    height:200px;
    width:200px;
    background-color: #121212;
    color:white;
    border:2px solid #232323;
    align-items: center;
    align-content: center;
    cursor:pointer;
    

}
.media h3,i{
    margin-left: 3rem;
    opacity:0.5;
}
.media h3{
    margin-right:8rem;
}
.media i{
    font-size: 35px;
    position:relative;
    left:1rem;
}

.cont .social_media .media:hover{
    transform:skew(10deg);
    box-shadow:2px 2px 10px yellow;
}
.media h3,i:hover{
    
    opacity:1;
    transform:scale(1.5);
}
.Response{
    height:780px;
    background-color: #232323;
}
.Response  h3{
    font-size: 35px;
   position:relative;
   top:100px;
   left:320px;
   color:maroon;
}
.boxes{
    display:flex;
    flex-wrap: wrap;
    position:relative;
    top:100px;
    left:100px;
   
  
}
.boxes .box input,select,textarea{
    color:blue;
    font-size: large;
}
.boxes .box input:hover{
   
    background-color:grey;
}
.boxes .box select:hover{
   
    background-color:grey;
}
.boxes .box textarea:hover{
   
    background-color:grey;
}
.boxes .box label{
    margin-right:8rem;
    font-size: 25px;
    font-weight: 500;
}
.boxes .box1{
    margin:1rem;
    padding:1rem;
}
.boxes .box2{
    margin:1rem;
    padding:1rem;
}
.boxes .box3{
    margin:1rem;
    padding:1rem;
}
.boxes .box4{
    margin:1rem;
    padding:1rem;
}
.boxes .box5{
    margin:1rem;
    padding:1rem;
    height: 60px;
    
}
.boxes .box5 textarea{
    font-size: 25px;
    /* background-color: #232323; */
}
.button{
    height:30px;
    width:300px;
    position:relative;
    top:120px;
    
    left:35px;
    font-size: 20px;;
    background-color: brown;

}
.button:hover{
    background-color: green;
    box-shadow: 2px 2px 4px yellow;
}










